<!--    邮箱配置，修改email和密钥其他保持不变-->
<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
    <property name="host" value="smtp.qq.com"/>
    <property name="port" value="465"/>
    <property name="username" value="993805524@qq.com"/>//email
    <property name="password" value="lbbjlfjgouitbbbd"/>//POPS/SMTP密钥
    <property name="defaultEncoding" value="UTF-8"/>
    <property name="javaMailProperties">
        <props>
            <prop key="mail.smtp.auth">true</prop>
            <prop key="mail.smtp.ssl.enable">true</prop>
        </props>
    </property>
</bean>
